<!doctype html>

<html>
<head>
	<title>CS 247: P4 Ideas</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="nav">
		<h1 id="title">2 Joes & A Peter</h1>
		
		
		<ul id="milestones">
			<h3>Project Milestones</h3>
			<li><a href="#m1">Milestone 1</a></li>
			<li><a href="#m2">Milestone 2</a></li>
			<li><a href="#m3">Milestone 3</a></li>
			<li><a href="#m4">Milestone 4</a></li>
			<li><a href="#m5">Milestone 5</a></li>
			<li><a href="#m6">Milestone 6</a></li>
			<li><a href="#m7">Milestone 7</a></li>
			<li>Milestone 8</li>
		</ul>

		<div id="names">
			<ul>
			<li>Joe Lee: <b>joelee@</b></li>
			<li> Peter Hu: <b>peterhu@</b></li> 
			<li>Joseph Abbott: <b>jrabbott@</b></li>
			</ul>
		</div>

	</div>	
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->

		<!-- <div class="jumbotron">
			
		</div> -->


		<h2><a class="anchor" name="m6">Milestone 7: User Study II (5/29)</a></h2>


		<iframe src="https://docs.google.com/presentation/d/1R3ODYc_roAjZEQMbEU1Wr0b5U0rxjaaaBadhK_mOwcc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

		<h2><a class="anchor" name="m5">Milestone 6: Functional Prototype II (5/22)</a></h2>



		<h2><a class="anchor" name="m5">Milestone 5: User Study</a></h2>

		<h3>Introduction</h3>

		<h4>Motivation</h4>
		<p>After discussing our app’s features with some of the CS247 staff, we decided that testing different methods and timings for notifications was important in determining the potential success of our app. Because our app is a mobile-optimized web application, our notification methods are essentially limited to email notifications and SMS notifications. We decided to test both of these options to determine which yields higher user satisfaction and quicker response times. We also really want to simulate our testing in the most realistic way possible, in order to get the best feedback among different user groups. We decided to send out notifications as previously described to users at different times of the day, and vary our user groups (close friends, long-distance friends, mere acquaintances) in order to produce the most reasonable data. </p>

		<h4>Questions and Hypotheses</h3>
		<p>
		1. Which method of notification do users prefer? Which method of notification produces quicker response time?</br>
		Hypothesis:  Users will prefer text-messaging over e-mails because it is faster and requires less overhead for the user.
		</p>

		<p>
		2. Do users prefer to be notified when their competitors post a photo?</br>
		Hypothesis: Users will prefer to be notified only after all competitors have completed the round because this ensures that all participants play their round.
		</p>

		<p>
		3. Do users prefer to be notified at a random time or a time that they had mutually agreed to?</br>
		Hypothesis: Users will prefer to be notified at a random time because it adds a level of uncertainty that’s exciting!
		</p>

		<h3>Methods</h3>
		<h4>Study design</h4>
		<div>
			<ul>
			<li>Find two volunteers to participate in a round of the game.</li>
			<li>Send the current round’s prompt individually to users via text messages at a random time.</li>
			<li>Users read the prompt, take photo/video, and reply to us via text message.</li>
			<li>We update a static page on our server, and send the users a link to see if they won the round. The users can also view each others’ photos on this page as well.</li>
			</ul>
		</div>

		<div>
		We decided to recruit our friends for this user study, and here are the four different cases:
			<ul>
			<li>People who live in the same house</li>
			<li>People who live in different houses</li>
			<li>People who live in separate states</li>
			<li>People who are acquaintances - not friends.</li>
			</ul>
		We thought this was a comprehensive group of real user cases.
		</div>


		<h2><a class="anchor" name="m4">Milestone 4: Functional Prototype 1 (5/8)</a></h2>

		<p><b>We created an initial prototype of our mobile web-app, Cliq. Further details are below. </b></p>

		<div>
			<h4><a href="http://cliqme.herokuapp.com">Check out our prototype!</a></h4>
			<a href="http://cliqme.herokuapp.com"><img src="/images/cliq_mobile.png" width=380 height=650></a>
		</div>



		<h3>Features Implemented Thus Far with Rationale</h3>
		<div>
			<ul>
			<li><b>Create Logo:</b> Our logo is a magnifying glass with a target in the middle. This symbolizes what our game is about: a race to find the target photos to satisfy the given prompt. The logo is important for branding.</li>
			<li><b>Create and style login page:</b> Our app requires users, and we wanted to create the simplest way for users to log in. All the user needs to do is enter his/her e-mail address for now.</li>
			<li><b>Create and style game page:</b> Here, we modeled after popular mobile games such as Words With Friends. We wanted the main game page to show the current games that the user is playing to allow the user to navigate as quickly as possible.</li>
			<li><b>Create and style prompt page:</b> The prompt page is the page that contains the prompt for the current round. We thought it was important to show the current players of the game with their scores to give a sense of how the game is progressing.</li>
			<li><b>Functioning media capture:</b> This button is essential for our app: the user needs to be able to take a photo that satisfies the prompt. We currently use features that are native to web browsers, but we will make the buttons more intuitive for the user moving forward.</li>
			<li><b>Round completion page:</b> The round completion page immediately shows after taking a photo in order to inform the user if he/she won the round or not. The last user to take a photo is able to see all previous photos as well. This is where a huge bulk of the communication occurs - being able to see snapshots of the other players' prompted photos.</li>
			<li><b>Redirect to game page:</b> We don't want users to feel trapped on any page. Users need to be able to go back to all on-going games. This contributes to overall flow of our product.</li>
			<li><b>Navigation bar:</b> The user should be able to do certain tasks on all pages. Some of these essential tasks include logging out, checking settings, etc.</li>
			<li><b>User sign-up form creation:</b> We need this for future users to sign up. The functionality currently is not complete, but will be up soon.</li>
			<li><b>Start facebook API:</b> In the future, we want users to able to login as easily as possible. It allows users to connect with their friends as well. This functionality is not fully working yet, but will be up soon.</li>
			</ul>
		</div>

		<h3>Tasks left to complete in the future in order of priority</h3>
		<div>
			<ul>
			<li>Enable user creation</li>
			<li>Create new game</li>
			<li>View game log (ability to see previous photos)</li>
			<li>Delete games</li>
			<li>Host media in database (into MongoDB)</li>
			<li>User sign-in verification</li>
			<li>Allow users to create own prompt for next round</li>
			<li>Get design feedback and update</li>
			<li>Clean up code</li>
			<li>Log in via Facebook</li>
			<li>Input all game info into MongoDB</li>
			</ul>
		</div>

			<h4> You can see our progress on <a href="https://docs.google.com/spreadsheets/d/1kUywkI-iq3F_KXX9kOv8x5wE7dljHcqD2I0otYsZbLo/edit#gid=0">this excel sheet</a>. The first section contains our tasks for this past week, and the second section contains tasks we need to complete in the future, in order of priority.</h4>


		<h2><a class="anchor" name="m3">Milestone 3: Wizard-of-Oz Testing (5/1)</a></h2>

		<p><b>After meeting with our mentor-coach this past Tuesday, we decided to take a slightly new direction with our CS247 project. Our new project idea is similar to "FamCam", our photo/video timeline sharing app, but we have made it more of a photo sharing "scavenger hunt" type application. Details can be found in presentation embedded below. We're really excited about it and hope you like it!</b></p>

		<iframe src="https://docs.google.com/presentation/d/1IKFvzijPV6KG4AQ2rxCTUogj9A3XnDvccnmoX90V28Q/embed?start=false&loop=false&delayms=10000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

		<br></br>
		<p><b>And here are some of the wonderful photos and videos our participants captured!</b></p>

		<h3>Cliq (Prototype 1)</h3>
		<p><b>Prompt:</b> Take a photo with somebody named Joe.</p>
		<img class="selfie" src="/images/m3-media/pat-selfie.JPG"></img
		<br></br>	
		<img class="selfie" src="/images/m3-media/tiff-selfie.JPG"></img>
		<br></br>
		<img class="selfie" src="/images/m3-media/laura-selfie.JPG"></img>

		<h3>PromptMe (Prototype 2)</h3>
		<p><b>Prompt:</b> Take a video of yourself dancing for five seconds.</p>
		<video class="selfie" width="320" height="240" controls><source src="/images/m3-media/jesse_dance.MOV" type="video/mp4"></video>
		<br></br>
		<video class="selfie" width="320" height="240" controls><source src="/images/m3-media/rahul_dance.MOV" type="video/mp4"></video>
		<br></br>
		<video class="selfie" width="320" height="240" controls><source src="/images/m3-media/marco_dance.MOV" type="video/mp4"></video>
		<p>...and the unexpected twerk:</p>
		<video class="selfie" width="320" height="240" controls><source src="/images/m3-media/victoria_dance.MOV" type="video/mp4"></video>



		<h2><a class="anchor" name="m2">Milestone 2: Storyboarding (4/24)</a></h2>

		<p>Our skit can be found at the bottom of the following document: <a href="https://docs.google.com/a/stanford.edu/document/d/1r7VGgzv2JNMU_qKkP3U0Z7pPpiyPSSr9MTa8DxJcEvs/edit">Idea Brainstorm Google Doc</a></p>

		<div class="project" id="1">
			<h3>1. Storyboard - Communicating With Family Members ("FamCam")</h3>
			<img class="storyboard-img" src="images/storyboard-1.jpg"></img>
		</div>

		<div class="project" id="1">
			<h3>2. Storyboard - Music Recommendation Communication ("ZShare")</h3>
			<img class="storyboard-img" src="images/storyboard-2.jpg"></img>
		</div>

		<div class="project" id="1">
			<h3>3. Storyboard - Communicating Questions in Lecture</h3>
			<img  class="storyboard-img"src="images/storyboard-3.jpg"></img>
		</div>

		<h2><a class="anchor" name="m1">Milestone 1: Team Formation and Ideating (4/17)</a></h2>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<a href="https://docs.google.com/a/stanford.edu/document/d/1r7VGgzv2JNMU_qKkP3U0Z7pPpiyPSSr9MTa8DxJcEvs/edit">Idea Brainstorm Google Doc</a>
		<br></br>
		<div class="project" id="1">
			<div class="thumbnail">
					<h4>1. Communicating With Family Members</h4>
					<div class="details">
						<p>Communicating with your parents on a weekly basis can be challenging. We want to make this process friendlier and easier. Here is the general flow of how this mobile app would work:
						</p>
						<ul>
							<li>Student initially enters his/her general availability times for each day upon sign up</li>
							<li>Every day at some point during the user's window of availability, the app would remind the student to take a picture or record a short video with a description.</li>
							<li>This video would then be directly sent to the parents’ emails
						</ul>
						
						<h6><b>Target Users:</b> Mainly college students</h6>
						<p>From our personal experiences, we see that many students have trouble finding time to communicate with their parents weekly, much less speaking with their parents on a every-day basis.</p>
						
						<h6><b>Communication:</b> Communication between kids and their parents.</h6>
						
						<h6><b>Context:</b> College students away from home</h6>
						<p>We are mainly concerned about college students who are going to school away from home. Especially at Stanford, many students are from out of state, and have trouble staying in touch with their parents.</p>


					</div>
			</div>
		</div>

		<div class="project" id="2">
			<div class="thumbnail">
					<h4>2. Carpooling Communication</h4>
					<div class="details">
						<p>Coordinating carpooling or picking up a friend can be annoying. It would be great to somehow send a quick message, piece of information, or media while driving that is safe and is an accurate description of the driver's location. Here is the idea flow:
						</p>
						<ul>
							<li>Before driving, you open your app</li>
							<li>Your phone already immediately begins recording your location, and once you’re 5 minutes away from the destination, it sends a pre-recorded video/audio clip or message to the friend at the destination locatio.</li>
							<li>Your friend at the destination location gets this message and is prepared for the pick-up and walks outside just in time without any wait time for either party</li>
						</ul>
						
						<h6><b>Target Users:</b> Anyone who drives and/or carpools</h6>
						<p> We have all have had experiences when we needed to arrive somewhere on time and picking up a friend or group of friends up took much longer than necessary due to miscommunications that resulted in wait time.</p>
						
						<h6><b>Communication:</b> Communication between a driver and passenger(s) at the destination location(s)</h6>
						
						<h6><b>Context:</b> Anytime</h6>
						<p>When you’re picking a friend up on a date, to go to the movies, or to go the gym - you name it. If both friends are using our app, this should eliminate the potential wait time for both parties.</p>


					</div>
			</div>
		</div>

		<div class="project" id="3">
			<div class="thumbnail">
					<h4>3.Communication Across Cultures/Languages</h4>
					<div class="details">
						<p>Most people enjoy meeting new people from different backgrounds, but there can exist a language barrier that requires an extra step in communication, whether it be via a translator, Google translate, or a dictionary. We propose to build a chatroulette-like platform that connects people across cultures by having what you say immediately translated into subtitles on the other person’s screen. They will then respond in their own language, and you will get the subtitles in your own language. 
						</p>
						
						
						<h6><b>Target Users:</b> 2 or more people that speak different languages</h6>
						
						<h6><b>Communication:</b> Communication with a language barrier</h6>
						
						<h6><b>Context:</b> Anytime, using our app</h6>
						<p>This could happen when you want to speak with another person that is not fluent in your language, or if you just want to meet new people that are foreigners.</p>


					</div>
			</div>
		</div>

		<div class="project" id="4">
			<div class="thumbnail">
					<h4>4.Music Recommendation Communication</h4>
					<div class="details">
						<p>Optimizing the music recommendation and sharing experience is something a variety of applications/social networks are continually working on. SoundCloud, Spotify, YouTube, and last.fm all have social network-type features such as listening-activity sharing, music listening timelines, and music listening data aggregation, but it seems as if no one application has perfected the music recommendation experience. Sharing music with friends who have similar tastes seems to be the most efficient way we share music now but music listeners often don’t have time to listen to an entire song, so we decided that we’d digitalize and optimize this process. Here’s how the app would operate: 
						</p>
						<ul>
							<li>You create an account with the app and add your favorite music artists and Facebook friends</li>
							<li>You can send music/music video blasts using APIs (SoundCloud, YouTube, etc) to friends/friend groups that combine short < 30 second clips into one < 1 minute audio/video clip</li>
							<li>You can view a timeline or received messages that have these short clips</li>
						</ul>
						
						<h6><b>Target Users:</b> Avid music listeners looking for new music recommendations from friends</h6>
						
						<h6><b>Communication:</b> Communication via audio/video clips that combine into an optimized music recommendation experience</h6>
						
						<h6><b>Context:</b> Anytime, when you want to share music with friends and neither of you have time for music discovery</h6>
					</div>
			</div>
		</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
