<!doctype html>

<html>
<head>
	<title>CS 247: P4 Ideas</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="nav">
		<h1 id="title">2 Joes & A Peter</h1>
		
		
		<ul id="milestones">
			<h3>Project Milestones</h3>
			<li><a href="#m1">Milestone 1</a></li>
			<li><a href="#m2">Milestone 2</a></li>
			<li>Milestone 3</li>
			<li>Milestone 4</li>
			<li>Milestone 5</li>
			<li>Milestone 6</li>
			<li>Milestone 7</li>
			<li>Milestone 8</li>
		</ul>

		<div id="names">
			<ul>
			<li>Joe Lee: <b>joelee@</b></li>
			<li> Peter Hu: <b>peterhu@</b></li> 
			<li>Joseph Abbott: <b>jrabbott@</b></li>
			</ul>
		</div>

	</div>	
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->

		<!-- <div class="jumbotron">
			
		</div> -->

		<h2><a class="anchor" name="m2">Milestone 2: Storyboarding (4/24)</a></h2>

		<p>Our skit can be found at the bottom of the following document: <a href="https://docs.google.com/a/stanford.edu/document/d/1r7VGgzv2JNMU_qKkP3U0Z7pPpiyPSSr9MTa8DxJcEvs/edit">Idea Brainstorm Google Doc</a></p>

		<div class="project" id="1">
			<h3>1. Storyboard - Communicating With Family Members ("FamCam")</h3>
			<img class="storyboard-img" src="images/storyboard-1.jpg"></img>
		</div>

		<div class="project" id="1">
			<h3>2. Storyboard - Music Recommendation Communication ("ZShare")</h3>
			<img class="storyboard-img" src="images/storyboard-2.jpg"></img>
		</div>

		<div class="project" id="1">
			<h3>3. Storyboard - Communicating Questions in Lecture</h3>
			<img  class="storyboard-img"src="images/storyboard-3.jpg"></img>
		</div>

		<h2><a class="anchor" name="m1">Milestone 1: Team Formation and Ideating (4/17)</a></h2>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<a href="https://docs.google.com/a/stanford.edu/document/d/1r7VGgzv2JNMU_qKkP3U0Z7pPpiyPSSr9MTa8DxJcEvs/edit">Idea Brainstorm Google Doc</a>
		<br></br>
		<div class="project" id="1">
			<div class="thumbnail">
					<h4>1. Communicating With Family Members</h4>
					<div class="details">
						<p>Communicating with your parents on a weekly basis can be challenging. We want to make this process friendlier and easier. Here is the general flow of how this mobile app would work:
						</p>
						<ul>
							<li>Student initially enters his/her general availability times for each day upon sign up</li>
							<li>Every day at some point during the user's window of availability, the app would remind the student to take a picture or record a short video with a description.</li>
							<li>This video would then be directly sent to the parents’ emails
						</ul>
						
						<h6><b>Target Users:</b> Mainly college students</h6>
						<p>From our personal experiences, we see that many students have trouble finding time to communicate with their parents weekly, much less speaking with their parents on a every-day basis.</p>
						
						<h6><b>Communication:</b> Communication between kids and their parents.</h6>
						
						<h6><b>Context:</b> College students away from home</h6>
						<p>We are mainly concerned about college students who are going to school away from home. Especially at Stanford, many students are from out of state, and have trouble staying in touch with their parents.</p>


					</div>
			</div>
		</div>

		<div class="project" id="2">
			<div class="thumbnail">
					<h4>2. Carpooling Communication</h4>
					<div class="details">
						<p>Coordinating carpooling or picking up a friend can be annoying. It would be great to somehow send a quick message, piece of information, or media while driving that is safe and is an accurate description of the driver's location. Here is the idea flow:
						</p>
						<ul>
							<li>Before driving, you open your app</li>
							<li>Your phone already immediately begins recording your location, and once you’re 5 minutes away from the destination, it sends a pre-recorded video/audio clip or message to the friend at the destination locatio.</li>
							<li>Your friend at the destination location gets this message and is prepared for the pick-up and walks outside just in time without any wait time for either party</li>
						</ul>
						
						<h6><b>Target Users:</b> Anyone who drives and/or carpools</h6>
						<p> We have all have had experiences when we needed to arrive somewhere on time and picking up a friend or group of friends up took much longer than necessary due to miscommunications that resulted in wait time.</p>
						
						<h6><b>Communication:</b> Communication between a driver and passenger(s) at the destination location(s)</h6>
						
						<h6><b>Context:</b> Anytime</h6>
						<p>When you’re picking a friend up on a date, to go to the movies, or to go the gym - you name it. If both friends are using our app, this should eliminate the potential wait time for both parties.</p>


					</div>
			</div>
		</div>

		<div class="project" id="3">
			<div class="thumbnail">
					<h4>3.Communication Across Cultures/Languages</h4>
					<div class="details">
						<p>Most people enjoy meeting new people from different backgrounds, but there can exist a language barrier that requires an extra step in communication, whether it be via a translator, Google translate, or a dictionary. We propose to build a chatroulette-like platform that connects people across cultures by having what you say immediately translated into subtitles on the other person’s screen. They will then respond in their own language, and you will get the subtitles in your own language. 
						</p>
						
						
						<h6><b>Target Users:</b> 2 or more people that speak different languages</h6>
						
						<h6><b>Communication:</b> Communication with a language barrier</h6>
						
						<h6><b>Context:</b> Anytime, using our app</h6>
						<p>This could happen when you want to speak with another person that is not fluent in your language, or if you just want to meet new people that are foreigners.</p>


					</div>
			</div>
		</div>

		<div class="project" id="4">
			<div class="thumbnail">
					<h4>4.Music Recommendation Communication</h4>
					<div class="details">
						<p>Optimizing the music recommendation and sharing experience is something a variety of applications/social networks are continually working on. SoundCloud, Spotify, YouTube, and last.fm all have social network-type features such as listening-activity sharing, music listening timelines, and music listening data aggregation, but it seems as if no one application has perfected the music recommendation experience. Sharing music with friends who have similar tastes seems to be the most efficient way we share music now but music listeners often don’t have time to listen to an entire song, so we decided that we’d digitalize and optimize this process. Here’s how the app would operate: 
						</p>
						<ul>
							<li>You create an account with the app and add your favorite music artists and Facebook friends</li>
							<li>You can send music/music video blasts using APIs (SoundCloud, YouTube, etc) to friends/friend groups that combine short < 30 second clips into one < 1 minute audio/video clip</li>
							<li>You can view a timeline or received messages that have these short clips</li>
						</ul>
						
						<h6><b>Target Users:</b> Avid music listeners looking for new music recommendations from friends</h6>
						
						<h6><b>Communication:</b> Communication via audio/video clips that combine into an optimized music recommendation experience</h6>
						
						<h6><b>Context:</b> Anytime, when you want to share music with friends and neither of you have time for music discovery</h6>
					</div>
			</div>
		</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
