body, html {
     font-family: Helvetica;
}

p {
     font-size: 12px;
}

a:hover {
     text-decoration: none;
}

h1#title {
     font-size: 28px;
}

img.selfie {
     width: 40%;
}

.container {
     width: 80%;
     float: right;
     position: relative;
     padding-left: 20px;
}

.nav {
     width: 20%;
     float: left;
     position: fixed;
     height: 100%;
     text-align: center;
     /*background: url("../images/lorempixel.jumbotron.jpeg");*/
     border-right: 2px solid black;
}

.nav ul {
     list-style-type: none;
     padding-left: 0;
}

a.anchor:hover {
     text-decoration: none;
}

.storyboard-img {
     width: 75%;
}

#milestones {
     padding-top: 33%;
     list-style-type: none;
     text-align: center;
     font-size: 14px;
     padding-left: 0;
}

#names {
     margin-top: 100%;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}
 .thumbnail {
     padding: 10px;
 }

.project .details {
     /*overflow: hidden;*/
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}